* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
	font-size: calc(14px + 6 * ((100vw - 320px) / 880));
}

body { 
	font-family: sans-serif;
	line-height: 1.4;
	letter-spacing: 0.024em;
	margin: 0;
}

.content {
	margin: 3rem auto;
	max-width: 1200px;
	padding: 24px;
}

.hi { 
	font-size: 1.8em;
	max-width: 960px;
	margin: 0 auto 3rem;
	font-weight: 700;
	text-align: center;
}

.intro a {
	text-decoration: none;
}

.letter:hover {
	cursor: default;
}

h1 {
	display: inline;
	font-size: inherit;
	margin: 0;
}

p {
	display: inline;
}

a {
	color: inherit;
	transition: color .3s linear;
}

a:hover {
	color: crimson;
}

a.netlife:hover {
	color: #29CB7E;
}

.cv {
	display: flex;
	font-size: 16px;
}

.cv div {
	width: 33.333333%;
	padding: 2rem;
}

.cv h2 {
	font-size: 1em;
	margin: 0;
}

.cv ul li {
	display: inline;
}

.work {
	margin: 0 auto;
	padding: 24px;
	font-family: monospace;
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer {
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
	background: gold;
	padding: 10px;
}

.social {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
}

.social li {
	display: inline-block;
}

.social li:after {
	content: " / ";
}

.social li:last-child:after {
	content: none;
}

.social a {
	color: black;
}

@media (max-width: 800px) {
	.cv {
		display: block;
	}
	.cv div {
		width: 100%;
	}
}