
$serif: 'poynter-oldstyle-display-con', serif;
$monospace: 'roboto mono', monospace;

$font-xs: 0.68rem;
$font-s: 0.8rem;

$color-green: #24e666;
$color-green-dark: #12684b;
$color-yellow: #fed246;
$color-yellow-dark: #fab800;
$color-purple: #a12e68;
$color-purple-dark: #6c2448;
$color-red: #fe2436;
$color-red-dark: #b20418;
$color-white: #ffffff;
$color-black: #0a0a0a;

$color-link: $color-red;

$width-s: 36rem;

$media-s: 600px;